In [1]:
import pandas as pd
from parsers.WildberriesParser import WildberriesReviewsParser

In [2]:
wb_filename = "wb_out.html"
wb_product = "https://www.wildberries.ru/catalog/15096648/detail.aspx"

In [3]:
parser = WildberriesReviewsParser()
parser.get_raw_html(wb_product, wb_filename)

Parser created!
Webdriver initialization...
Webdriver started!

Collecting data from https://www.wildberries.ru/catalog/15096648/detail.aspx ...
Scrolling page...

99it [01:41,  1.03s/it]

Scrolling completed!

Data collected and stored in wb_out.html

'wb_out.html'

In [4]:
data = parser.convert_html_to_csv(wb_filename)

Starting to convert
Soup created
Found 1000 reviews

1000it [00:02, 347.27it/s]

Done! Data saved to wb_out.csv

In [5]:
data = pd.read_csv("wb_out.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   author          1000 non-null   object
 1   country         1000 non-null   object
 2   rate            1000 non-null   int64
 3   text            1000 non-null   object
 4   date            1000 non-null   object
 5   upvote          1000 non-null   int64
 6   downvote        1000 non-null   int64
 7   param_Цвет_0    1 non-null      object
 8   param_Размер_0  1 non-null      object
 9   param_Размер_1  1 non-null      object
 10  photos_count    1 non-null      float64
 11  photo_0         1 non-null      object
 12  photo_1         1 non-null      object
 13  photo_2         1 non-null      object
 14  photo_3         1 non-null      object
 15  photo_4         1 non-null      object
dtypes: float64(1), int64(3), object(12)
memory usage: 125.1+ KB

In [6]:
data.describe()

              rate       upvote     downvote  photos_count
count  1000.000000  1000.000000  1000.000000           1.0
mean      4.586000     9.427000     1.353000           3.0
std       0.932456    14.254117     4.472627           NaN
min       1.000000     0.000000     0.000000           3.0
25%       5.000000     2.000000     0.000000           3.0
50%       5.000000     5.000000     1.000000           3.0
75%       5.000000    10.000000     2.000000           3.0
max       5.000000   187.000000   126.000000           3.0

In [7]:
print(data[data['upvote'] == 187]['text'].values)

['Отличная вещь, выгодная покупка!!! Плотный материал не просвечивает. Покупала чтобы носить в беременность, но уверена, что и после этого она будет использоваться. На мне размер L, сидит как и хотела. ']

In [9]:
print(data[data['downvote'] == 126]['text'].values)

['Короче, она стала свистеть и плавательный пузырь внутри не выдержала. Сосисочное брюхо оторвалось и пошло по свистку мелкими пузырьками. Ну и я естественно по свисток пошел. А тут, бац. Приземлился. Встаю на одно колено. В другой руке сковородка. Из отверстия пар валит. И в этом дыму, вижу что под ухом у меня два пупырчатых яблока болтаются. Один уже синий. А второй зеленый. И дятел из них раздолбанный пер. Хохочет. С упыреным смешком. Ну а я, естественно, по свищу…Не, ну я конечно попытался пошевелить пальцами. Но безрезультатно. Еще разок попробовал. Тщетно. Смерил температуру. Нету ее. Потом оглядел себя. А я в чем. В облаке. Три яблока, что слева и два что справа сидят в своей жиже и не шевелятся. Надо бы быстро… Одуреть. Надо все же проверить. А то сзади что-то хлюпает. Вот думаю, еще разок сбегаю. И тут справа чихает. Тихо так. И из дырки, что посередине, сначала пух летит. А потом ошметки какие-то и плесень. Наверное откуда-то из загонов прибежало.']

In [10]:
data.sort_values(by='upvote', ascending=False).head(10)

,author,country,rate,text,date,upvote,downvote,param_Цвет_0,param_Размер_0,param_Размер_1,photos_count,photo_0,photo_1,photo_2,photo_3,photo_4
963,Кристина,ru,5,"Отличная вещь, выгодная покупка!!! Плотный мат...",2021-05-24 17:33:00,187,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,Екатерина,ru,5,"Пришла с браком покраски, приложила фото, но я...",2021-05-06 15:15:00,168,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848,Анна,ru,5,Прекрасная футболка. За эту стоимость просто о...,2022-04-14 18:36:00,128,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,Елена,ru,4,Брала для кастома. Ещё не стирала. Думаю самый...,2021-04-27 13:21:00,105,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,Дарья,ru,5,обожаю ее!!,2022-08-22 11:21:00,96,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909,Анастасия,ru,5,Хорошие плотные футболки. Много раз брала разн...,2022-02-17 00:59:00,77,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,Софья,ru,5,"С дыркой на шве пришло, но я сразу зашила, тка...",2022-04-15 19:07:00,73,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,Алиса,ru,5,Отлично подходит доя кастома (акрил+контур Дек...,2021-05-20 13:14:00,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Таисия,ru,5,"классная футболка, у меня есть такие же в крас...",2022-11-13 15:22:00,69,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,Алиса,ru,5,"Футболка отличная за 300р, совсем немного прос...",2022-08-04 14:15:00,65,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN